.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vmin;
  min-height: 100vh;
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .app {
    padding: 2vmin;
  }
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.champion-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  .app>.row {
    width: 100%;
    max-width: 1200px;
  }
}